* {
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/  
  -ms-overflow-style: none;/*Internet Explore対応のスクロールバー非表示コード*/   
}

.container::-webkit-scrollbar {  
display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}

body{
  margin: 0px;
}

@font-face { 
  font-family: "OpenSans-Regular"; 

  src: url("../Simple_shooting/data/font/OpenSans-Regular.ttf") format("truetype") 
}

span{
  font-family: "OpenSans-Regular";
}

#fullScreen{
  position: absolute;
  top: 50px;
  left: 20px;
  display: block;
  color: #0000ff;
  background-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #00ff00;
}

#reload{
  position: absolute;
  top: 80px;
  left: 20px;
  display: block;
  color: #0000ff;
  background-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #00ff00;
}

#re-fullScreen{
  position: absolute;
  top: 120px;
  left: 10px;
  width: 75px;
  height: 25px;
  display: block;
  color: #ffffff;
  background-color: rgba(120, 120, 120, 0.7);
  border-style: none;
}

#re-fullScreen:hover{
  background-color: rgba(60, 60, 60, 0.7);
}

#re-reload{
  position: absolute;
  top: 160px;
  left: 10px;
  width: 75px;
  height: 25px;
  display: block;
  color: #ffffff;
  background-color: rgba(120, 120, 120, 0.7);
  border-style: none;
  box-shadow: #000000;
}

#re-reload:hover{
  background-color: rgba(60, 60, 60, 0.7);
}